<div id="<%= dom_id commit %>">
  <p>
    <strong>Sha:</strong>
    <%= commit.sha %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= commit.author_name %>
  </p>

  <p>
    <strong>Author email:</strong>
    <%= commit.author_email %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= commit.message %>
  </p>

  <p>
    <strong>Committed date:</strong>
    <%= commit.committed_date %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= commit.repository_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= commit.day %>
  </p>

  <p>
    <strong>Week:</strong>
    <%= commit.week %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= commit.month %>
  </p>

</div>
