<div id="<%= dom_id comment %>">
  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= comment.repository_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= comment.upvotes %>
  </p>

  <p>
    <strong>Downvotes:</strong>
    <%= comment.downvotes %>
  </p>

  <p>
    <strong>D at:</strong>
    <%= comment.d_at %>
  </p>

</div>
