<div id="<%= dom_id analytic %>">
  <p>
    <strong>User:</strong>
    <%= analytic.user_id %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= analytic.repository_id %>
  </p>

  <p>
    <strong>Search:</strong>
    <%= analytic.search_id %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= analytic.tag_id %>
  </p>

  <p>
    <strong>View:</strong>
    <%= analytic.view_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= analytic.rating_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= analytic.comment_id %>
  </p>

  <p>
    <strong>Activity log:</strong>
    <%= analytic.activity_log_id %>
  </p>

</div>
