<div id="<%= dom_id activity_log %>">
  <p>
    <strong>User:</strong>
    <%= activity_log.user_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= activity_log.action %>
  </p>

  <p>
    <strong>Record:</strong>
    <%= activity_log.record_id %>
  </p>

  <p>
    <strong>Record type:</strong>
    <%= activity_log.record_type %>
  </p>

  <p>
    <strong>D at:</strong>
    <%= activity_log.d_at %>
  </p>

</div>
