<p style="color: green"><%= notice %></p>

<%= render @activity_log %>

<div>
  <%= link_to "Edit this activity log", edit_activity_log_path(@activity_log) %> |
  <%= link_to "Back to activity logs", activity_logs_path %>

  <%= button_to "Destroy this activity log", @activity_log, method: :delete %>
</div>
