<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password_digest, style: "display: block" %>
    <%= form.text_field :password_digest %>
  </div>

  <div>
    <%= form.label :profile_picture, style: "display: block" %>
    <%= form.text_field :profile_picture %>
  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :twitter_url, style: "display: block" %>
    <%= form.text_field :twitter_url %>
  </div>

  <div>
    <%= form.label :facebook_url, style: "display: block" %>
    <%= form.text_field :facebook_url %>
  </div>

  <div>
    <%= form.label :linkedin_url, style: "display: block" %>
    <%= form.text_field :linkedin_url %>
  </div>

  <div>
    <%= form.label :github_url, style: "display: block" %>
    <%= form.text_field :github_url %>
  </div>

  <div>
    <%= form.label :website_url, style: "display: block" %>
    <%= form.text_field :website_url %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.number_field :role %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
