<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= user.profile_picture %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= user.location %>
  </p>

  <p>
    <strong>Twitter url:</strong>
    <%= user.twitter_url %>
  </p>

  <p>
    <strong>Facebook url:</strong>
    <%= user.facebook_url %>
  </p>

  <p>
    <strong>Linkedin url:</strong>
    <%= user.linkedin_url %>
  </p>

  <p>
    <strong>Github url:</strong>
    <%= user.github_url %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= user.website_url %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= user.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= user.longitude %>
  </p>

</div>
