<div id="<%= dom_id users_repository %>">
  <p>
    <strong>User:</strong>
    <%= users_repository.user_id %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= users_repository.repository_id %>
  </p>

  <p>
    <strong>Date added:</strong>
    <%= users_repository.date_added %>
  </p>

  <p>
    <strong>Last viewed:</strong>
    <%= users_repository.last_viewed %>
  </p>

</div>
