<p style="color: green"><%= notice %></p>

<%= render @users_repository %>

<div>
  <%= link_to "Edit this users repository", edit_users_repository_path(@users_repository) %> |
  <%= link_to "Back to users repositories", users_repositories_path %>

  <%= button_to "Destroy this users repository", @users_repository, method: :delete %>
</div>
