<div id="<%= dom_id search %>">
  <p>
    <strong>Query:</strong>
    <%= search.query %>
  </p>

  <p>
    <strong>Filters:</strong>
    <%= search.filters %>
  </p>

  <p>
    <strong>Result count:</strong>
    <%= search.result_count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= search.user_id %>
  </p>

</div>
