<div id="<%= dom_id admin_user %>">
  <p>
    <strong>Name:</strong>
    <%= admin_user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin_user.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= admin_user.password_digest %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= admin_user.is_admin %>
  </p>

</div>
