<%= form_with(model: view) do |form| %>
  <% if view.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(view.errors.count, "error") %> prohibited this view from being saved:</h2>

      <ul>
        <% view.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :repository_id, style: "display: block" %>
    <%= form.number_field :repository_id %>
  </div>

  <div>
    <%= form.label :ip_address, style: "display: block" %>
    <%= form.text_field :ip_address %>
  </div>

  <div>
    <%= form.label :device, style: "display: block" %>
    <%= form.text_field :device %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
