<div id="<%= dom_id view %>">
  <p>
    <strong>User:</strong>
    <%= view.user_id %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= view.repository_id %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= view.ip_address %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= view.device %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= view.duration %>
  </p>

</div>
